@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
  background-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter";
}

/*NAV BAR START*/
nav {
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
  font-size: 18px;
  justify-content: right;
  padding: 1.5rem 3.5rem;
  background: #00A7E1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  width: 28rem;
}

nav ul li {
  display: inline-block;
  font-weight: bold;
}

nav ul a {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  color: #FF865A;
  transition: 0.4s ease;
}

nav button {
  position: absolute;
  width: 133px;
  height: 50px;
  left: 1198px;
  top: 31px;
  border: none;

  mix-blend-mode: normal;
  border-radius: 15px;
  color: white;
  font-size: 20px;

  cursor: pointer;
}

/*generator body and button*/
.generator-content {
  padding: 5rem 5rem;
  height: 20vh;
  width: 100vh;
  display: flex;

  margin-left: auto;
  margin-right: auto;

  align-items: center;
  justify-content: center;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
  /*
  padding: 6rem 24rem;

  margin-left: auto;
  margin-right: auto;


  display: flex;
  
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
  */
}


#GenerateButton {

  width: 142px;
  height: 42px;

  width: 200px;
  margin: auto;
  display: inline;

  background: #FF865A;
  border-radius: 15px;
}

#FavoriteButton {

  width: 200px;
  height: 42px;
  margin: auto;
  display: inline;

  background: #FF865A;
  border-radius: 15px;
}


.button-inputs {
  width: 960px;
  margin: 0 auto;
  align-content: center;
  justify-items: center;
}

.action-button {
  display: inline-block;
  width: calc(50% - 4px);
  margin: 0 auto;
}

button.button-inputs {
  width: 142px;
  height: 42px;
}


#otterPicId {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 750px;
  height: 750px;

  object-fit: contain;

  top: auto;

  border-radius: 5%;
  visibility: hidden;
}

button:hover {
  color: #2e1309;
  transition: 0.4s ease;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding: 1.25rem;
  text-align: center;
  color: #63768D;
  background-color: #7BD67E;
  opacity: 1;
}